body {
    background-size: cover;
    background-image: url(../images/gamer-498-x-280-gif-79jk9s8f3eka1y0l.gif);
}

main {
    width: 50%; 
    margin-top: 15%; 
    margin-left: 40%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-left: 5%;
    color: white
}

p {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 220px;
    margin-left: 7%;
    margin-right: auto;
}